@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

* {
  margin: 0;
  font-family: 'Noto Sans';
  background-color: #202020;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  color: silver;
  margin: 0;
  margin-bottom: 10px;
}

.input {
  border: 4px solid #006600;
  background: silver;
  border-radius: 4px;
  padding: 8px;
  width: 14em;
}

select {
  margin-left: 10px;
  background: silver;
}

.equals {
  color: silver;
  font-weight: bold;
  font-size: 26px;
}
